* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #6082B6;
    color: white;
    width: 100%;
    height: 80px;
    font-family: 'Jost', sans-serif;
    margin-bottom: 10px;
}

header h1 {
    text-align: center;
    padding: 15px 0px;
}

.main {
    display: inline;
}

.search-container {
    width: 20%;
    padding: 10px;
    float: left;
}

.search-container h1 {
    color: black;
    font-family: 'Jost', sans-serif;
}

input {
    width: 97%;
    height: 30px;
    padding-left: 5px;
    border-radius: 6px;
    margin-top: 10px;
}

button {
    width: 100%;
    height: 30px;
    margin: 15px 0px 15px 0px;
    background-color: #6082B6;
    border-radius: 6px;
    color: white;
    border: white;
}

.display-container {
    width: 77%;
    margin: 10px;
    float: left;
}

.current-weather {
    width: 100%;
    height: 200px;
    background-color: #bdcde3;
    border-radius: 6px;
    padding: 15px 0px;
}

button:hover {
    cursor: pointer;
    background-color: #3462a6;
}

#history {
    background-color: rgb(175, 175, 175);
    margin: 15px 0px 0px 0px;
}

#history:hover{
    background-color: rgb(138, 137, 137);
}

#city {
    font-family: 'Jost', sans-serif;
    margin: 0px 15px 15px 15px;
}

h2 {
    font-family: 'Jost', sans-serif;
    padding: 10px;
}

.future-weather {
    display: flex;
    justify-content: space-between;
}

.weather-card {
    background-color: #bdcde3;
    width: 15%;
    padding: 5px;
    height: 250px;
    border-radius: 6px;
}

h3 {
    font-family: 'Jost', sans-serif;
    margin-left: 15px;
    margin-bottom: 20px;
}